*.xcbkptlist
screenshots/screenshots.html
SwiftUI-WorkoutApp.xcodeproj/project.xcworkspace/xcuserdata/oleg991.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI-WorkoutApp.xcodeproj/project.xcworkspace/xcuserdata/oleg991.xcuserdatad/IDEFindNavigatorScopes.plist
SwiftUI-WorkoutApp/.DS_Store
fastlane/report.xml
.DS_Store
SwiftUI-WorkoutApp.xcodeproj/xcuserdata/oleg991.xcuserdatad/xcschemes/xcschememanagement.plist
fastlane/screenshots/screenshots.html
