*.xcbkptlist
screenshots/screenshots.html
SwiftUI-WorkoutApp.xcodeproj/project.xcworkspace/xcuserdata/oleg991.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUI-WorkoutApp.xcodeproj/project.xcworkspace/xcuserdata/oleg991.xcuserdatad/IDEFindNavigatorScopes.plist
